#logo {
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: normal;
}
#logo-underline {
    width: 40%;
    height: 2px;
    color: black;
    margin-top: 10px;
    margin-left: 15px;
}
a.on-hover-underline {
    text-decoration: none;
    border-bottom: 1px solid black;
}
#img1 {
    position: relative;
    z-index: 3;
    transform: rotate(-3deg);
}
#img2 {
    position: relative;
    z-index: 2;
    right: 30px;
    bottom: 30px;
    transform: rotate(3deg);
}
#img3 {
    position: relative;
    z-index: 1;
    bottom: 70px;
    transform: rotate(-6deg);
}
.link-gray {
    color: #333;
}
.link-gray:hover {
    color: #333 !important;
}
.icon-set:hover a {
    color: darkgray;
}
